<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        body {
            background-color: #2A3D51;
            color: white;
        }

        .col-lg-6 {
            background-color: #313D69;
        }

        .btn-cutome,
        .btn-cutome {
            background-color: #315B69;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-5 border border-dark p-5">
                <div class="title-page">
                    <h4 class="text-center">Tic-Tac-Toe Online Game</h4>
                </div>
                <div class="body-main">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control w-100" id="username"
                                aria-describedby="emailHelp" placeholder="Username">
                        </div>
                        <div class="form-group">

                            <button class="btn btn-primary create-room w-100">Create room</button>
                    </form>

                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="joinroom">joinroom</label>
                            <input name="joinroom" type="text" class="form-control w-100" id="joinroom"
                                aria-describedby="emailHelp" placeholder="Enter room ID">

                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input name="username" type="text" class="form-control w-100" id="username"
                                aria-describedby="emailHelp" placeholder="Username">
                        </div>
                        <button class="btn btn-success float-right w-100">Join room</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>

    </script>
</body>

</html>